body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Georgia, sans-serif;
}

.shell {
    border: 3px solid black;
    padding: 50px;
    background-color: grey;
}

h1 {
    text-align: center;
    margin-bottom: 75px;
}
.btn{
    height: 80px;
    width: 80px;
    margin: 25px;
    font-size: 40px;
    border-radius: 10px;
    background-color: blue;
}
.btn:hover {
    background-color: lightblue;
}

.number {
    background-color: lightcoral;
    border-radius: 10px;
}
.number:hover {
    background-color: papayawhip;
}

.operator {
    background-color: green;
    border-radius: 10px;
}

.operator:hover {
    background-color: lightgreen;
}

.decimal {
    background-color: yellow;
    border-radius: 10px;
}
.decimal:hover {
    background-color: yellowgreen;
}

.equal {
    background-color: purple;
    border-radius: 10px;
}
.equal:hover {
    background-color: violet;
}

#screen {
    width: 475px;
    border: 3px solid black;
    background-color: blanchedalmond;
    height: 100px;
    margin: 15px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}